:root {
  font-weight: 400;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

body {
  margin: 0;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field {
  max-height: 100px;
  width: 80svw;
  padding: 0;
  display: flex;
  border-bottom: 3px solid white;
}

.travel {
  position: relative;
  flex-grow: 1;
}

.item {
  height: 100px;
  width: auto;
  transition: all 0.2s ease-in-out;
}

#congrats {
  top: 0;
  height: 100px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

#girl {
  position: absolute;
  top: 0;
  left: 0;
}

#girl-placeholder {
  opacity: 0;
}

#caption {
  position: fixed;
  bottom: 48px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-style: italic;
  font-size: 2rem;
  text-align: center;
}